/* ActionBar styling (done directly on the View with the 'action_bar' ID */
#action_bar {
	background-image: url(action_bar_bg.png);
}

/* When the ActionBar get stacked, this would be the stacked view background */
action-bar stacked {
	background-color: #40424d;
}

/* When the ActionBar get splitted, this would be the split view background */
action-bar split {
	background-image: url(pixate-logo.svg);
}

/* Set an image for the 'overflow' menu button (note that it's an ImageButton) */
action-bar-overflow image {
	background-image: url(wifi-icon.svg);
	background-size: 70px;
}

action-bar-overflow image:pressed {
	background-image: url(wifi-icon-pressed.svg);
	background-size: 70px;
}

/* Set the logo (can also call this with 'icon') */
action-bar logo {
	background-image: url(pixate-logo.svg);
	background-size: 230px 73px;
}

/* Style the title (can also style 'action_bar_subtitle') */
#action_bar_title {
	color: #EAEAEC;
	font-size: 28px;
}

/* Style the Tab's inner TextView (can also be accessed via the nth-child, as above) */
action-bar-tab text-view:activated {
   color: #EAEAEC;
}

action-bar-tab text-view:pressed {
   color: white;
}

/* Style the Tab's background */
action-bar-tab {
	background-image: url(action_bar_bg.png);
}
action-bar-tab:pressed {
	background-image: url(tab_pressed.png);
}

/* 
We can also set the selected background for the tab, but we skip this here.
For this app, it means that the blue underline will appear under the selected tab.
If you like to override it, un-comment the following:

action-bar-tab:selected {
	background-image: url(tab_active.png);
}
*/

/* Style the inner tabs icons */
action-bar-tab icon-top {
    background-size: 50px;
    background-image: url(inactive.svg);
}

action-bar-tab icon-top:selected {
    background-size: 50px;
	background-image: url(active.svg);
}

/* Note that we can also access those via the nth-child. For example:

action-bar-tab:nth-child(n + 1) icon:selected {
    background-size: 40px;
	background-image: url(active.svg);
}
*/
