/* 
 * This is Android's given ID for the ActionBarContextView.
 * You may also access this by using 'actionbarcontextview'
 */
actionbarview {
  background-image: linear-gradient(black, gray);
}

action-bar-menu image {
	background-image: url(spinner.png);
}

action-bar-menu image:pressed {
	background-image: url(spinner_pressed.png);
}

/* Since 'home' is an ImageView, we use the 'image' virtual child to define its image */
#home image {
  background-image: url(pixate-logo.svg);
  background-size: 200px 60px;
}

#action_bar_title {
	color: red;
}

#action_bar_title icon-left {
  background-image: url(star.svg);
}

#action_bar {
	border: 1px solid green;
}

action-bar-tab:nth-child(n) icon {
	background-image: url(star.svg);
	background-size: 48px;
}

action-bar-tab:nth-child(n) icon:selected {
	background-image: url(star-full.svg);
	background-size: 48px;
}

action-bar-tab:nth-child(n + 1) icon {
	background-image: url(inactive.svg);
	background-size: 40px;
}

action-bar-tab:nth-child(n + 1) icon:selected {
	background-image: url(active.svg);
	background-size: 40px;
}

/* Will effect the Tab's inner View */
action-bar-tab:nth-child(n) text-view:activated {
   color: green;
}

action-bar-tab:nth-child(n) text-view:pressed {
   color: red;
}

action-bar-tab {
   background-image: linear-gradient(gray, white);
}
