/* GridView - Setting backgrounds for odd and even columns */
.myGridView {
	column-count: 4;
	column-gap: 5;
	column-width: 170;
	column-stretch-mode: column-width;
	row-gap: 20;
	border: 5px solid black;
	background-color: rgb(116, 207, 245);
}

.myGridView #text1:nth-child(2n + 1) {
	background-color: #5000FF00;
}

/* Note that we are coloring with an alpha value */
.myGridView #text1:nth-child(2n) {
	background-color: #50FF0000;
	color: white;
}
