/* ImageView - Tinted, rotated and shifted, with a press state and borders*/

#myImageView {
    transform: matrix(0.70710677, -0.70710677, 0.70710677, 0.70710677, 17.5, 125.0);
    scale-type: matrix;
    background-size: 250px;
    border: 1px solid blue;
    tint: #25FF0000;
}

#myImageView image {
	background-image: url(dollar.svg);
	background-size: 150px;
	border: 1px solid blue;
}

#myImageView image:pressed {
	background-image: url(dollar-red.svg);
	background-size: 150px;
	border: 2px solid linear-gradient(blue, yellow);
}
