/* ListView - divider and list fading edges length */
.myListView {
    divider: linear-gradient(90deg, #61646D 0%, #61646D 1%, #5A5D67 2%, #5A5D67 98%, #61646D 99%, #61646D 100%);
	divider-height: 2px;
    android-fading-edge-length: 20px;
    background-color: #61646D;
}

/* 
List overscroll - pull down the list to see it.
We set the overscroll distance, and when would be painted as the header.
The 'footer' can be defined as well.
*/
.myListView overscroll {
    distance: 200px;
    header: linear-gradient(black, #61646D);
}

/* Set the text color and a few icons on the right */
.myListView > #text1 {
    color: #EAEAEC;
}

.myListView > #text1:pressed {
    background-color: #909096;
	color: #FFFFFF;
}

.myListView > #text1 icon-right {
    background-size: 60;
}

.myListView > #text1:nth-child(5n) icon-right {
	background-image: url(list/1bars.svg);
}

.myListView > #text1:nth-child(5n + 1) icon-right {
    background-image: url(list/3bars.svg);
}

.myListView > #text1:nth-child(5n + 2) icon-right {
    background-image: url(list/5bars.svg);
}

.myListView > #text1:nth-child(5n + 3) icon-right {
    background-image: url(list/4bars.svg);
}

.myListView > #text1:nth-child(5n + 4) icon-right {
    background-image: url(list/2bars.svg);
}
