/* RadioButton */
/* The icon for the selected/unselected radio is done with a virtual child of 'icon' */
.myRadioButton icon:checked {
    background-image: url(checked.svg);
    background-size: 48px;
}

.myRadioButton icon:pressed {
    background-image: url(checked.svg);
    background-size: 48px;
}

.myRadioButton icon {
    background-image: url(unchecked.svg);
    background-size: 48px;
}

/* The button background (per state) */
.myRadioButton {
    background-color: orange;
    border: 1px black solid;
    color: white;
    background-size: 300px 90px;
}

.myRadioButton:checked {
    background-color: linear-gradient(red, orange);
    color: blue;
    border: 1px gray solid;
    background-size: 300px 90px;
}
