/* TextView */
.myTextView {
	color: white;
	background-color: linear-gradient(rgb(128, 128, 128), black);
	background-size: 350px 40px;
	font-weight: italic;
	font-size: 18pt;
	compound-padding: 5px;
	text: 'Wireless Fidelity';
}

/* Set the TextView as clickable to enable this state */
.myTextView:pressed {
	background-color: linear-gradient(black, rgb(128, 128, 128));
	border: 3px solid rgb(64, 64, 64);
	color: #CACACA;
}

/* Place an image on the left. You can also do 'icon-right', 'icon-top' and 'icon-bottom' */
.myTextView icon-left {
	background-image: url(list/wifi-icon.svg);
}